//
   Created by 11952 on 2017/4/5.

doctype html
html
    head
        //title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-3.1.1.js')
        script(src='/javascripts/changePassword.js')
    body
        block content
            div#loginRect
                div
                    span 账号：
                    input#userNo(type="text")
                div
                    span 旧密码：
                    input#oldPassword(type='password')
                div
                    span 新密码：
                    input#newPassword(type='password')
                div
                    span 新密码确认：
                    input#confirmPassword(type='password')
                div
                    span 公司密钥：
                    input#cpKey(type='text')
                div
                    input#signIn(type='button',onclick='submit()',value='修改')