//
   Created by 11952 on 2017/4/5.

doctype html
html
    head
        //title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-3.1.1.js')
        script(src='/javascripts/findPassword.js')
    body
        block content
            div#loginRect
                div.userIn
                    span 账号：
                    input#userNum(type="text")
                div.userIn
                    span 公司密钥：
                    input#cpKey(type='text')
                div.buttonDiv
                    input#signIn(type='button',value='找回',onclick='submit()')